*{
    box-sizing: border border-box;
}

html  {
    margin: 0px;
    background: #000;
    color: rgb(15, 15, 15);
}

body {
    background: rgb(6, 241, 241);
    padding-bottom: 20px;
}

p{text-align:center;
  background: rgb(100, 96, 96);
  color: aqua;
}

form{
    background: rgb(252, 209, 69) ;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid #000;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(247, 245, 245);
}

input{
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    border: rgb(49, 49, 49);
}